WEBHOOK_URL=
HA_URL=
TOKEN=
ENTITY_ID=
JELLYFIN_HELPER_ENTITY_ID=input_boolean.jellyfin
POWER_CUT_HELPER_ENTITY_ID=input_boolean.powercut
PORT=
WEBHOOK_JELLYFINOff=
JELLYFIN_URL=
API_KEY=
QBITIP=
QBITUSER=
QBITPASS=
